@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(green, blue);
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px, 0 2px;
    border-bottom-width: 0;
    transition: background-size 0.5s ease-in-out,
        background-position 0.5s ease-in-out;
}

.group-link-underline:hover a .link-underline,
.group-link-underline:hover a.link-underline {
    background-position: 100% 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
}

[x-cloak] {
    display: none !important;
}
.duration-300 {
    transition-duration: 300ms;
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
